*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{

	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content:  space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;

}

header .C-name{

	color: black;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation{

	position: relative;
}

header .navigation .navigation-items a{

position: relative;
color: gold;
font-size: 1 rem;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease; 
}

header .navigation .navigation-items a:before{

	content: '';
	position: absolute;
	background: white;
	width: 0%;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{

	width: 100%;
}

section{

	padding: 100px 200px;
}

.home{

	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: lightblue;
}

.home  video{

	z-index: 000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-nav{

	z-index: 888;
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	transform: translateY(80px);
	margin-bottom: 12px;
}

.slider-nav .nav{

	width: 12px;
	height: 12px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
	transition: 0.3s ease;
}

.slider-nav .nav.active{

	background: gold;
}

.slider-nav .nav:not(:last-child){
	 margin-right: 20px;

}

.slider-nav .nav:hover{

	transform: scale(1.2);
}


.home .content{

	z-index: 888;
	color: white;
	width: 70%;
	margin-top: 50px;

}

.home .content h1{

	font-size: 4 rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px;
	margin-bottom: 40px;
}

.home .content h1 span{

	font-size: 1.2 rem;
	font-weight: 600;
}

.home .content p{

	margin-bottom: 65px;
}

.home .content a {

	background: white;
	padding: 15px 35px;
	color: lightblue;
	font-size: 1.1rem;
	font-weight: 500;
	text-decoration: none ;
	border-radius: 2px;

}

.video-slider{

	position: absolute;
	width: 100%;
	clip-path: circle(150% at 0 50%);
}

.image-slider{

	position: relative;
	width: 880px;
	height: 600px;
	margin: 10px;

}

.image-slider .img-sli{
	
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}

.image-slider .img-sli .active{

	clip-path: circle(100% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}


.image-slider .img-sli img{

	z-index: 1;
	width: 100%;
	border-radius:12px ;
}

.image-slider .img-sli .info{

	position: absolute;
	top: 0;
	padding: 15px 30px;
}


.image-slider .img-sli .info h2{

	color: gold;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}

.image-slider .img-sli .info p{

	 color: white;
	 font-size: 8px;
	 width: 60%;
	 padding: 10px;
	 border-radius: 4px;

}

.image-slider .naviga{

  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.image-slider .naviga .btn{

	background: gold;
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;

}

.image-slider .naviga .btn .active{

	background: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}



 
